<% include ./partials/header.ejs%>

<div class="w-full h-screen bg-gray-200 flex items-center justify-center">
  <div class="h-[60vh] w-96 bg-white px-6 py-5 rounded-lg">
    <h1 class="text-center px-2 py-3 text-3xl font-bold">
      Welcome to Pinterest
    </h1>
    <form action="/login" method="post" class="py-4">
      <input
        class="mt-5 w-full border-2 border-gray-300 rounded-lg"
        type="text"
        placeholder="Username"
      />
      <input
        class="mt-5 w-full border-2 border-gray-300 rounded-lg"
        type="password"
        placeholder="Password"
      />
      <br />
      <input
        class="w-full my-6 px-3 py-2 bg-red-600 text-white rounded-full"
        type="submit"
        value="Login"
      />
      <a class="text-blue-800" href="">Forgot Password?</a>
      <br />
      <a class="text-blue-800" href="/register"
        >Don't have an account? Sign Up.</a
      >
    </form>
  </div>
</div>

<% include ./partials/footer.ejs%>
