<% include ./partials/header.ejs%>

<div class="bg-zinc-800 pt-24 min-h-screen w-full text-white">
  <form hidden id="uploadform" action="/fileupload">
    <input type="file" name="image" />
  </form>
  <div class="flex flex-col items-center justify-center">
    <div class="relative bo">
      <img
        class="h-28 w-28 rounded-full bg-white border-4 border-sky-400"
        src="https://pbs.twimg.com/media/FjU2lkcWYAgNG6d.jpg"
        alt="profile image"
      />
      <span
        id="uploadicon"
        class="material-symbols-outlined w-9 h-9 rounded-full absolute bottom-0 right-0 bg-zinc-600 flex items-center justify-center cursor-pointer"
      >
        edit
      </span>
    </div>
    <h1 class="mt-5 text-4xl">Faizan</h1>
    <h3 class="text-xl">@faizan</h3>
    <br />
    <a href="/edit" class="px-10 py-3 bg-zinc-600 rounded-full text-sm">Edit</a>
    <button class="px-10 py-3 mt-5 rounded-xl text-white bg-red-700 text-lg">
      Add New Pin
    </button>
  </div>

  <div class="cards flex flex-wrap gap-10 px-10 mt-10">
    <div>
      <img
        class="w-56 h-40 bg-white rounded-lg object-cover"
        src="https://img.freepik.com/premium-photo/close-up-very-colorful-abstract-painting-dark-background-generative-ai_900775-39570.jpg?size=338&ext=jpg&ga=GA1.1.386372595.1697932800&semt=ais"
      />
      <h3 class="mt-4 text-xl">Card Name</h3>
      <h5 class="text-gray-300 text-sm">10 Pins</h5>
    </div>
    <div>
      <img
        class="w-56 h-40 bg-white rounded-lg object-cover"
        src="https://cache.desktopnexus.com/thumbseg/2394/2394689-bigthumbnail.jpg"
      />
      <h3 class="mt-4 text-xl">Card Name</h3>
      <h5 class="text-gray-300 text-sm">10 Pins</h5>
    </div>
  </div>
</div>

<script>
  document.querySelector("#uploadicon").addEventListener("click", function () {
    document.querySelector("#uploadform input").click();
  });
</script>

<% include ./partials/footer.ejs%>
